#mainNav .navbar-nav>li.nav-item>a {
    font-size: 20px;
    font-family: Barlow, sans-serif;
    font-weight: normal;
}

#mainNav .navbar-nav>li.nav-item>a:hover {
    font-weight: bolder !important;
    color: #065457}
